body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header select{
  height: 30px;
  width: 200px;
  border-radius: 10px;
  background-color: burlywood;
}

.lab-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lab-con{
  display:flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.lab21-btn{
  display: flex;
  justify-content: space-between;
}